{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>{% block 'title' %}{% endblock %}Início Mundo Ebooks</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Muito mais conhecimento para sua vida!" />
    <meta name="keywords" content="livros, books, leitura"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
{% include 'partial/_nav.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block 'conteudo' %}{% endblock %}
        </div>
    </div>
</div>

{% include 'partial/_footer.html' %}

</body>
</html>
